<div class="modal fade custom-width" id="unit_dose_modal_<%= unit_dose.id %>" >
	<div class="modal-dialog">
		<div class="modal-content">		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Store Type</h4>
			</div>
			<div class="modal-body">
				<%= bootstrap_form_for(unit_dose, :class => "form-horizontal form-groups-bordered", :remote => true) do |f| %>
					<div class="errors"></div>
					<%= f.text_field :name %>
					<%= f.select :form_type, UnitDose::Unit_Types, :prompt => "Select Form Type" %>
					<%= submit_button_tag(f.object) %>
				<% end %>
			</div>
		</div>
	</div>
</div>