<div class="panel panel-default">
  <div class="panel-heading">User</div>
    <div class="panel-body">
      <div class="col-md-12">
        <div class="col-md-6">
          <%= f.select :title_id, @titles.map{ |t| [t.name, t.id] }, :prompt => "Select Title" %>
          <%= f.select :staff_category_id, @staffcategories.map{ |t| [t.name, t.id] }, :prompt => "Select Title" %>
          <%= f.select :validity, User::Validity, :prompt => "Validity Period" %>
          <%= f.text_field :first_name %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :last_name %>
          <%= f.text_field :username %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="col-md-12">
          <ul class="nav tab-menu nav-tabs" id="myTab">         
            <% @stores.each do |store| %>
              <li>
                <a href="#tab-pane-<%= store.id %>" data-toggle='tab'>
                  <%= store.try(:name) %>
                </a>
              </li>
            <% end %>  
          </ul>  
          <div id="myTabContent" class="tab-content">
            <% @stores.all.each do |store| %>
              <div class="tab-pane" id="tab-pane-<%= store.id %>">
                <%= f.collection_check_boxes :roles, store.roles.all, :id, :name, :label => false, :checked => @user.role_ids %>
              </div>
            <% end %>
          </div>
        </div>
        
        <div class="col-md-12">
          <center>
            <%= submit_button_tag(f.object) %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
