<div class="modal fade custom-width" id="vendor_modal_<%= vendor.id %>" >
  <div class="modal-dialog">
    <div class="modal-content">   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Vendor</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(vendor, :class => "form-horizontal form-groups-bordered", :remote => true) do |f| %>
          <div class="errors"></div>
          <div class="col-md-12">
            <%= f.text_field :name %>
            <%= f.text_field :reg_number %>
            <%= f.text_field :address %>
            <%= f.text_field :contact_name %>
            <%= f.text_field :contact_mobile %>
            <%= f.text_field :contact_email %>
            <%= f.select :state_id, State.all.map{ |s| [s.name, s.id] }, :prompt => "Select State" %>
            <%= f.select :vendor_category_id, VendorCategory.all.map{ |s| [s.name, s.id] }, :prompt => "Select Vendor Category" %>
            <%= f.select :store_id, Store.all.map{ |s| [s.name, s.id] }, :prompt => "Select State" %>
          </div>
          <%= submit_button_tag(f.object) %>
        <% end %>
      </div>
    </div>
  </div>
</div>