<div class="row">		
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Generic
				<div class="panel-actions">
					<a href="<%= new_pharm_item_path %>"><i class="fa fa-plus fa-2x"></i></a>
					<a href="<%= pharm_items_path(:format => "xlsx") %>"><i class="fa fa-download fa-2x"></i></a>
					<a href="#" class="btn-minimize"><i class="fa fa-chevron-up fa-2x"></i></a>
				</div>				
			</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
				  <thead>
					  <tr>
						  <th>Name</th>
						  <th>Classes</th>
						  <th>Brands</th>
						  <th>Actions</th>						   
					  </tr>
				  </thead>   
				  <tbody>
				  	<% @pharm_items.each  do |pharm_item| %>
							<tr>
								<td><%= pharm_item.try(:name) %>
                <td>
           				<table class="table table-striped table-condensed" >
                		<thead>
                      <tr>
                        <th> # </th>
                        <th> Name </th>
                      </tr>
                    </thead>
              			<tbody>
               				<% pharm_item.sub_classes.each_with_index do |sub_class,index| %>
                      	<tr>
                    			<td><%= index + 1 %></td>
                      		<td><%= sub_class.try(:sub_main) %></td>
                      	</tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
                <td>
            			<table class="table table-striped">
                		<thead>
                      <tr>
                        <th> #</th>
                        <th> Brand</th>
                        <th> Dosage Form</th>
                        <th> Strength</th>
                        <th> Strength Unit</th>
                        <th> Marketer</th>
                        <th> Pack Size</th>
                        <th> Min Dispensable</th>
                      </tr>
                    </thead>
                		<tbody>
                 			<% pharm_item.brands.each_with_index do | brand,index| %>
                        <tr>
                        	<td><%= index + 1 %></td>
                        	<td><%= brand.try(:name) %></td>
	                        <td><%= brand.try(:unit_dose).try(:name) %></td>
	                        <td><%= brand.try(:concentration) %></td>
	                        <td><%= brand.try(:item_concentration_unit).try(:name) %></td>
	                        <td><%= brand.try(:marketer).try(:name) %></td>
	                        <td><%= brand.try(:pack_size) %></td>
	                        <td><%= brand.try(:min_dispensable) %></td>
	                      </tr>
	                    <% end %>
	                  </tbody>
	                </table>
	              </td>
								<td>
									<a href="<%= edit_pharm_item_path(pharm_item) %>" class="btn btn-info"><i class="fa fa-edit"></i></a>
									<a class="btn btn-danger" href="<%= pharm_item_path(pharm_item) %>"  data-method="delete" data-confirm="Are you sure want to delete?">
										<i class="fa fa-trash-o "></i> 
									</a>
								</td>
							</tr>
						<% end %>
				  </tbody>
			  </table>            
			</div>
		</div>
	</div>
</div>